<ion-content>
  <div class="container" *ngIf="allowed">
    <ion-card class="container">
      <img alt="Oops" src="../../../assets/pics/Vault.gif" />
      <ion-card-header>
        <ion-card-title>{{"WELCOME" | translate}} {{huesped.nombre}} !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>{{"CLAVE" | translate}} {{clave}}.</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="container" *ngIf="!allowed">
    <ion-card class="container">
      <img alt="Welcome" src="../../../assets/pics/oops.gif" />
      <ion-card-header>
        <ion-card-title>{{"SORRY" | translate}} {{huesped.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>{{"INFO" | translate}} {{checkin}}.</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
