.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;

    img{
        width: 50vh;
        height: 50vh;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 5%;
    }
}